<ion-view view-title="El clima">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in items" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
      <div ng-repeat="weather in item.weather">
        <img ng-src="http://openweathermap.org/img/w/{{weather.icon}}.png">
      </div>  
        <h2>{{item.dt * 1000 | date:'medium'}}</h2>
        <p>{{item.main.temp_min}} C° MIN/{{item.main.temp_max}} C° MAX</p>
        <p>{{item.main.temp_kf}} K°</p>

        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
